doctype html
html
  head
    title Facebook Login JavaScript Example
    meta(charset='UTF-8')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.2/js.cookie.min.js', type='text/javascript')
    script(src='/javascripts/facebook_connector_shared.js', type='text/javascript')
    script(src='/javascripts/facebook_redirect.js', type='text/javascript')
  body(style='text-align:center;')
    p This page should automatically redirect for you to log in to Facebook.
    p
      | If it does not please 
      a#loginLink Click Here
