extends connector_base

block head_extension
  title Square Connector
  script(src='/javascripts/square.js', type='text/javascript')
  
block content
  .container
    h1 Welcome to the Square Connector
    p#signedin You are signed in
    p#notsignedin You are not signed in, please click below to authenticate
    br
    a(href=authLink) Click here to authorize the application
    br
    br
    button#getDataButton get my Square data!
