#searchInput {
  width: 60%;
  left: 20%;
  top: 38%;
  position: absolute;
}
body {
  text-align: center;
}

.searchHeight {
  height: 35pt;
  font-size: large;
}

#mainDiv {
  background-image: url("../../img/TwitterLogo.png");
  background-size: contain;
  width: 747px;
  height: 607px;
  margin-top: 20px;
  position: relative;
}

#getDataButton {
    top: 47%;
    width: 30%;
    position: absolute;
    left: 35%;
}